<div class="w100 h100" fxFlex="column">
  <div class="w100">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button (click)="drawer.toggle()" mat-icon-button>
          <mat-icon class="material-icons">menu</mat-icon>
        </button>
        <span>Vest Edu</span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="w100 dashboard" fxLayout="row">
    <mat-drawer-container class="example-container w100 h100" autosize>
      <mat-drawer #drawer class="vasedu-sidenav" mode="side">
        <mat-card-header fxLayout="row" fxLayoutAlign="start center">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <!-- two line list -->
        <mat-list class="list-wrap">
          <mat-list-item *ngFor="let category of categories" routerLink="{{category.route}}">
            <button mat-icon-button>
              <mat-icon class="material-icons">{{category.icon}}</mat-icon>
            </button>
            <p>{{category.name}}</p>
          </mat-list-item>
        </mat-list>
      </mat-drawer>

      <div class="content" fxLayout="column">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Arindam Nath</mat-card-title>
            <mat-card-subtitle>Borrower</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="Enter current password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Enter new password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Re-enter new password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>SAVE</button>
            <button mat-button>CANCEL</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-drawer-container>
  </div>
</div>