$sidenavbg: #2f3f4f;
$border: #c7c7c7;
$white: #fff;
$black: #000;
.dashboard {
  height: calc(100vh - 64px);
  & .vasedu-sidenav {
    padding: 20px 0;
    width: 300px;
    background: $sidenavbg;
    & .mat-card-header {
      display: flex;
      flex-direction: row;
      padding: 10px;
    }
    & .mat-card-header-text {
      margin: 0 8px;
    }
    color: $white;
    & .mat-card-title {
      display: block;
      margin-bottom: 6px;
      color: $white;
    }
    & .mat-card-subtitle {
      color: $white;
    }
    & .example-header-image {
      background-image: url('../../../assets/images/profile.jpg');
      background-size: cover;
      background-position: 50% 50%;
    }
    & .mat-card-avatar {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 20px;
    }
    & .list-wrap {
      padding: 0px;
      & .navtitle {
        color: $border;
        padding: 5px;
      }
      & .mat-list-item {
        border-right: solid 1px $sidenavbg;
        color: $white;
        cursor: pointer;
        &:hover {
          background: $white;
          color: $black;
          border-right: solid 1px $border;
        }
      }
    }
  }
  & .content {
    padding: 10px;
  }
}

