<div class="w100 h100" fxFlex="column">

  <div class="w100">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button (click)="drawer.toggle()" mat-icon-button>
          <mat-icon class="material-icons">menu</mat-icon>
        </button>
        <span>Admin Dashboard</span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="w100 dashboard" fxLayout="row">
    <mat-drawer-container class="example-container w100" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list role="list">
          <mat-list-item role="listitem">Dashboard</mat-list-item>
          <mat-list-item role="listitem">Borrowers</mat-list-item>
          <mat-list-item role="listitem">Investors</mat-list-item>
          <mat-list-item role="listitem">Pending for Auction</mat-list-item>
        </mat-list>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Loans
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list role="list">
              <mat-list-item role="listitem">
                <a href="#" routerLink="/loans">Complete Loans</a>
              </mat-list-item>
              <mat-list-item role="listitem">
                <a href="#" routerLink="/loans">Overdue Loans</a>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Loan Applications
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list role="list">
              <mat-list-item role="listitem">Loan Applicationns</mat-list-item>
              <mat-list-item role="listitem">Funded Applicationns</mat-list-item>
              <mat-list-item role="listitem">Incomplete Applicationns</mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-drawer>
      <div class="example-sidenav-content h100">
        <mat-tab-group>
          <mat-tab label="Tab 1">Content 1</mat-tab>
          <mat-tab label="Tab 2">Content 2</mat-tab>
        </mat-tab-group>
      </div>
    </mat-drawer-container>
  </div>
</div>