  
//   .example-sidenav-content {
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//   }
.dashboard{
    height: calc(100vh - 74px);
}
  
  .example-sidenav {
    padding: 20px;
    width: 350px;
  }
  