<div class="w100 h100" fxFlex="column">
  <div class="w100">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button (click)="drawer.toggle()" mat-icon-button>
          <mat-icon class="material-icons">menu</mat-icon>
        </button>
        <span>Admin Dashboard</span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="w100 dashboard" fxLayout="row">
    <mat-drawer-container class="example-container w100" autosize>
      <mat-drawer #drawer class="vasedu-sidenav" mode="side">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Arindam Nath</mat-card-title>
          <mat-card-subtitle>Admin</mat-card-subtitle>
        </mat-card-header>
        <!-- two line list -->
        <mat-list class="list-wrap">
          <mat-list-item *ngFor="let category of categories" (click)="onNavOptionSelected(category)">
            <button mat-icon-button>
              <mat-icon class="material-icons">{{category.icon}}</mat-icon>
            </button>
            <p>{{category.list}}</p>
          </mat-list-item>
        </mat-list>
      </mat-drawer>
      <div class="content" fxLayout="row" fxLayoutAlign="center center">
        <mat-tab-group>
          <mat-tab label="Tab 1">Content 1</mat-tab>
          <mat-tab label="Tab 2">Content 2</mat-tab>
        </mat-tab-group>
      </div>
    </mat-drawer-container>
  </div>
</div>
